---
import Icon from "./Icon.astro";
---

<button toggle-dark-mode-button class="text-low dark:text-low-dark hover:text-text hover:dark:text-white border rounded-xl p-2">
  <Icon name="moon" className="w-5 h-5" />
</button>

<script>
  const buttons = document.querySelectorAll('[toggle-dark-mode-button]');

  buttons.forEach((button) => {
    button.addEventListener('click', () => document.documentElement.classList.toggle('dark'));
  });

</script>
